@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Views/Home/Privacy">Products</a>
        </li>
    </ul>
    <h1 class="display-4">Welcome To AgriEnergy Website</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>User Id : @ViewData["UserID"]</p>
</div>
